.footer{
    width: 1200px;
}
.footer>.footer-top{
    height: 60px;
    border-bottom: 1px solid #333333;
    background-color: #e0e0e0;
}

.footer>.footer-bottom{
    height: 92px;
    width: 1200px;
    background-color: #e0e0e0;
}

.footer-top-content{
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 60px;
    margin-left: 100px;  
}
.footer-top-content>li{
    width: 80px;
    height: 60px;
    float: left;
    font-size: 13px;
    text-align: center;
    line-height: 60px;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 5px;
}
.footer-top-content>li>a{
    text-decoration: none;
    color: #333333;
}
.footer-top-content>li>a:hover{
    text-decoration: none;
    color: black;
    text-decoration: underline;
}
.footer-bottom-content{
    margin: 0;
    padding: 0;
    margin-left: 100px;
    list-style-type: none;
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    color: #333;
}
.footer-bottom-content>li:first-child{
    padding-top: 25px;
}
.footer-bottom-content>li>a{
    color: #333;
}