.footer{
    margin: 0;
    padding: 0;
    height: 126px;
    width: auto;
    background-color: bisque;
}
.footer-content{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
}
.footer-content>li{
    text-align: left;
    font-size: 14px;
}
.footer-content>li:first-child{
    padding-top: 20px;
}
.footer-content>li:nth-child(3){
    font-size: 18px;
    font-weight: 700;
}