.login-wrap{
    width: 500px;
    height: 600px;
    padding: 100px;
    border: 1px solid black;
    margin-left: 350px;
}
.login-title{
    padding-top: 150px;
    width: 400px;
    height: 80px;
    border-bottom: 3px solid #12615b;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
    color: #12615b;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}
.login-id, .login-pw{
    margin: 75px;
    margin-bottom: 30px;
    margin-top: 0px;
    font-size: 21px;
    color: #282828;
}
.login-id, .login-pw{
    width: 350px;
    height: 75px;
}
.login-id>div{
    margin-top:10px;
}
input:focus {
    outline: none;
}
.login-id>div>input, .login-pw>div>input{
    border: none;
    border-bottom: 3px solid #19bbae;
    width: 354px;
    height: 34px;
}

.login-wrap-middle{
    width: 350px;
    margin-left: 80px;
}

.login-wrap-middle>input, .login-wrap-middle>div{
    width: 335px;
    height: 52px;
    border: 3px solid #19bbae;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}
.login-wrap-middle>input{
    background-color: #19bbae;
    color: white;

}
.login-wrap-middle>div a{
    text-decoration: none;
    line-height: 52px;
    color: #19bbae;
}

.login-wrap-footer{
    width: 350px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid black;
    margin-left: 100px;
    
}

.login-wrap-footer>li{
    text-align: left;
    font-size: 14px;
    
}
.login-wrap-footer>li:first-child{
    padding-top: 20px;
}
.login-wrap-footer>li:nth-child(3){
    font-size: 18px;
    font-weight: 700;
}