body{
    background-color:aquamarine
}
.signup-content{
    margin: 0;
    padding: 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 550px;
    height: 710px;
    margin-top: 20px;
    border: 3px solid ;
    border-radius: 68px;
    background-color: rgba(255,255,255,0.6);
    border: none;
}

.signup-content .signup-logo{
    width: 450px;
    font-size: 60px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    font-family: 'Abril Fatface', cursive;
    font-style: italic;
    color: green;
    text-align: center;
    border-bottom: 3px solid #19bbae;
}
.signup-logo>.signup-logo-small{
    font-size: 20px;
    color: darkred;
    margin-bottom: 8px;
}

.signup-list{
    margin: 0;
    padding: 0;
    padding-top: 175px;
    margin-left: 50px;
}
.signup-list div{
    color: green;
    font-weight: 700;
    text-indent: 68px;
    height: 60px;
    width: 450px;
    margin-bottom: 7px;
}
input:focus {
    outline: none;
}
.signup-list>div input{
    border: 2px solid #19bbae;
    border-radius: 6px;
    border-left: none;
    border-right: none;
    border-top: none;
    height: 30px;
    width: 300px;
    background-color: rgba(255,255,255,0.7);
}

.signup-list-birth input[name=birth-year],.signup-list-birth input[name=birth-mon],.signup-list-birth input[name=birth-day]{
    width: 93px;
}
.signup-list-birth input[name=birth-year]{
    margin-left: 68px;
}


.signup-list>div input[name=login-email]{
    width: 120px;
}
.signup-list>div select{
    border: 2px solid #19bbae;
    border-radius: 6px;
    border-left: none;
    border-right: none;
    border-top: none;
    height: 35px;
    width: 150px;
}
input#hobbys1, input#hobbys2, input#hobbys3, input#hobbys4{
    margin-top: 10px;
    width: 15px;
    height: 15px;
}
.signup-list .signup-clear{
    border: 2.5px solid #19bbae;
    width: 190px;
    height: 50px;
    border-radius: 10px;
    margin-left: 130px;
    line-height: 50px;
    color: white;
    background-color: #19bbae;
}
.signup-list .signup-clear:hover{
    background-color: white;
    color: #19bbae;
    cursor: pointer;
}